body
{
    font-family: arial;
    background-color: #f3e3c8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    background-color: #f3e3c8;
    border: 2px solid #8a6a4a;
    margin-bottom: 12px;

    box-shadow: 4px 4px 0 #5a4633;

    width: 100%;
    padding: 15px;
    text-align: center;
}

.upload-section 
{
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    background-color: #f3e3c8;
    border: 2px solid #8a6a4a;
    margin-bottom: 12px;

    box-shadow: 4px 4px 0 #5a4633;
}

.post
{
    background-color: #f3e3c8;
    border: 2px solid #8a6a4a;

    box-shadow: 4px 4px 0 #5a4633;

    margin-bottom: 20px;
    width: 350px;
    border-radius: 8px;
    overflow: hidden;
}

.post img
{
    width: 100%;
    height: auto;
    display: block;
}

.buttons
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}

button
{
    border: none;
    background:none;
    font-size: 16px;
    cursor: pointer;
    background-color: #f3e3c8;
    border: 2px solid #8a6a4a;
    margin-bottom: 12px;

    box-shadow: 4px 4px 0 #5a4633;
}

.comment-section
{
    padding: 10px;
    border-top: 1px solid #eee;
}

.comment
{
    font-size: 14px;
    margin-top: 5px;
}

input[type="file"]
{
    margin-top: 10px;
}